<div id="closed-day-form">
  <%= form_with model: @cloak, url: official_closed_days_path, method: :post do |cloak| %>
  <div id="day-form-container">
    <h3 class="closed-day-title">定休日(曜日)</h3>
    <div class="day-form">
    <%= cloak.fields_for :closed_days do |closed_day| %>
      <%= closed_day.select :closed_day, ClosedDay.closed_days.keys, name: "#{closed_day.index}", class: "select-closed-day" %>
    <% end %>
    </div>
  </div>
  <div id="closed-day-button-container">
    <%= cloak.submit '定休日を登録', id: "create-closed-day" %>
  <% end %>
    <button id="add-day-form" onclick="addDayForm()", type="button">定休日を追加</button>
  </div>
  <div id="emergency-closed-day-container">
    <h3 class="closed-day-title-e">定休日予定(個別)</h3>
    <p class="description-e">追加はHomeのカレンダーから(削除のみ)</p>
    <% @emergency_closed_days.each do |e| %>
      <p class="closed-day-e"><%= e.end_time.strftime("%Y-%m-%d") %>
      <%= link_to "×", official_emergency_closed_day_path(e), class: "batsu" %>
    <% end %>
  </div>
</div>



<script>
function addDayForm(){
    num = $("select").length -1;
    clone = $(`#cloak_closed_days_attributes_${num}_closed_day`).clone();
    customName = clone.attr('name', `cloak[closed_days_attributes][${num + 1}][closed_day]`)
    customNameId = customName.attr('id', `cloak_closed_days_attributes_${num + 1}_closed_day`)
    $("#day-form-container").append(customNameId)
}
</script>
