<div id="form-post-edit">
  <div id="form-edit">
    <%= form_with model: smoking_post, url: smoking_post_path(smoking_post), local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <%= image_tag smoking_post.image_id.url || '/assets/no_image.jpg', id: "post-img" %>
      <div>
        <%= f.file_field :image_id, id: "smoking-post-img", input_html: {accept: smoking_post.set_extension} %>
      </div>
      <p class="post-label">タイトル</p>
        <%= f.text_field :title, id: "smoking-post-title" %>
      <p class="post-label">本文</p>
        <%= f.text_area :body, id: "smoking-post-body" %>
      <%= f.submit '投稿を編集', class:"create-button" %>
    <% end %>
  </div>
</div>
