<div id="cloak-show-container">
  <div class="notice-container">
    <p class="notice"><%= notice(flash[:notice]) %>
    <p class="notice"><%= notice(flash[:notice_custom]) %>
  </div>
  <div id="official-cloak-location-show">
    <h4>Cloak Mypage</h4>
    <% if @cloak.cloak_location == nil %>
      <p class="notice">Mapで位置情報を登録しましょう</p>
    <% end %>
    <%= image_tag @cloak.image_id.url || '/assets/no_image.jpg', class: "cloak-img" %>
    <div id="cloak-name-container">
      <p class="cloak-name-label">店名: </p>
      <p class="cloak-name"><%= @cloak.cloak_name %></p>
    </div>
    <div class="cloak-email-container">
      <p class="cloak-email-label">メール</p>
      <p class="cloak-email"><%= @cloak.email %></p>
    </div>
    <div class="cloak-phone-number-container">
      <p class="cloak-phone-number-label">Tel: </p>
      <p class="cloak-phone-number"><%= @cloak.phone_number %></p>
    </div>
    <div class="cloak-address-container">
      <p class="cloak-address-label">住所</p>
      <p class="cloak-address"><%= @cloak.address %></p>
    </div>
    <div class="cloak-description-container">
      <p class="cloak-description-label">店舗概要</p>
      <% if @cloak.cloak_location != nil %>
        <p class="cloak-description"><%= @cloak.cloak_location.description %></p>
      <% else %>
        <p>位置情報が未登録です</p>
        <p>ヘッダーにあるMapのリンクから登録しましょう</p>
      <% end %>
    </div>
    <div class="cloak-time-container">
      <p class="cloak-time">更新日: <%= @cloak.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
    </div>
  </div>
</div>
