<!DOCTYPE html>
<html>
  <head>
    <title>EasyToFind</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvE87ZzkrCkjvvJ0PFQ21dG4U0NWcVEyo"></script>
    <script src="https://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
  </head>

  <body>
      <nav class="">
      <h5 class="app-title">Easy To Find</h5>
    <ul class="navbar">
    <% if user_signed_in? %>
      <li class="navbar-text">
      aaaaaa
      </li>
      <li class="navbar-text">
      bbbbb
      </li>
      <li class="navbar-text">
      ccccc
      </li>
      <li class="navbar-text">
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
    <li class="navbar-text">
      </li>
      <li class="navbar-text">
      </li>
      <li class="navbar-text">
      </li>
        <li class="navbar-text">
      </li>
    <% end %>
    </ul>
  </div>
</div>
</nav>
    <%= yield %>
  </body>
</html>
